.nav-wrapper {
	padding: 0 10px;
	transition: background-color .2s, color .2s;
	-webkit-transition: background-color .2s, color .2s; /* Safari */
}

.parallax-container {
	height: 200px;
	margin-top: 48px;
}

nav .brand-logo, nav .tabs .tab a {
	color: inherit !important;
}