<div id="tab1" class="col s12">	
	<h5 style="margin-top: 0;">Short wings reduced to flippers</h5>
	<p>For swimming underwater.</p>
	
	<br>
	
	<h5>Backward pointing barbs on tongue</h5>
	<p>To stop slippery prey escaping.</p>
	
	<br>
	
	<h5>Black above and white underneath</h5>
	<p>Makes it harder to see in the sea, and helps warming / cooling on land, back or front to the sun according to whether they are hot or cold.</p>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Migrate north</h5>
	<p>At the end of the brief summer.</p>
	
	<br>
	
	<h5>Arrive in the south early in the summer season</h5>
	<p>To take best advantage of the seasonal abundance of food.</p>
	
	<br>
	
	<h5>Tobogganing</h5>
	<p>Sliding on their front while pushing with legs, saves a lot of energy in long journeys.</p>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">Muscle has large amounts of myoglobin</h5>
	<p>To hold extra oxygen that is used up during a dive.</p>
	
	<br>
	
	<h5>A counter-current system in the legs</h5>
	<p>Means that the feet are kept just above freezing and operated by muscles in the legs via tendons, this reduces heat loss.</p>
	
	<br>
	
	<h5>During a deep dive, the heart rate slows</h5>
	<p>From 80-100 down to 20 beats per minute.</p>
	
</div>

<script>
	new M.Tabs(document.querySelector('.tabs'));
	
	$('#title').text('Pinguim-de-adélia');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #EEEEEE !important; color: rgba(0,0,0,.87) !important;');
	$('.indicator').attr('style', 'background-color: rgba(0,0,0,.87);');
	$('head meta[name=theme-color]').attr('content', '#EEEEEE');
</script>