<div id="test1" class="col s12">Test 1</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>

<script>
	$('.parallax img').attr('src', 'img/pinguim.jpg');
	new M.Tabs(document.querySelector('.tabs'));
	
	$('#title').text('Pinguim');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #FDD835 !important; color: rgba(0,0,0,.87) !important;');
	$('.indicator').attr('style', 'background-color: rgba(0,0,0,.87);');
	$('head meta[name=theme-color]').attr('content', '#FDD835');
</script>