<div id="tab1" class="col s12">
	
	<h5 style="margin-top: 0;">Large size retains heat</h5>
	<p>Emperors are twice the size of the next biggest penguin, the king, so are able to survive the winter fast and the extreme cold temperatures endured at this time.</p>
	<img class="responsive-img" src="img/default.jpg">
	
	<br><br>
	
	<h5>Short stiff tail</h5>
	<p>Helps balance on land, forms a tripod with heels on ice to give the least contact area to prevent heat loss.</p>
	<img class="responsive-img" src="img/1200110Chinstrap%20brushtail.JPG">
	
	<br><br>
	
	<h5>Chicks have soft down for insulation</h5>
	<p>This is a more effective insulator on land than the parents feathers, but of little use in the sea, they must moult before they can swim.</p>
	<img class="responsive-img" src="img/shutterstock_107424374.0.0.jpg">
	
	<br><br>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Huddle together in the winter to conserve heat</h5>
	<p>Without this they wouldn't be able to survive the Antarctic winter.</p>
	
	<br>
	
	<h5>Unlike other penguin species, they are not aggressively territorial</h5>
	<p>hence the huddling (above).</p>
	
	<br>
	
	<h5>Breed during the depths of the Antarctic winter</h5>
	<p>So the chicks are large enough to become independent during the summer abundance of food.</p>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">A complex heat exchange system</h5>
	<p>Allows 80% of heat in the breath to be recaptured in the nasal passages.</p>
	
	<br>
	
	<h5>They can dive to a depth of 1,800 feet (550 meters) and hold their breath for up to 22 minutes</h5>
	<p>So are able to reach and exploit food resources that other birds can't reach.</p>
	
	<br>
	
	<h5>Males can make "milk"</h5>
	<p>In the oesophagus which can be used to feed chicks in the winter before the female arrives back from fishing.</p>
</div>

<script>
	new M.Tabs(document.querySelector('.tabs'));
	
	$('#title').text('Pinguim Imperador');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #FDD835 !important; color: rgba(0,0,0,.87) !important;');
	$('head meta[name=theme-color]').attr('content', 'rgba(0,0,0,.87)');
</script>